.get-started {
    background-color: #e8f0fe;
    padding: 30px;
    border-radius: 8px;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
  
.get-heading {
    font-size: 2rem;
    color: #0d6efd;
    margin-bottom: 15px;
  }
  
.get-text {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
  }

.custom-btn {
    font-size: 1.1rem;
    min-width: 100px;
  }